.Foto-Descripcion{
  display: flex;
  align-items: center;
}

.Seguir{
  display:flex;
  justify-content:center;
}

.ImagenJapon{
  border-radius: 10px;
  margin-right: 20px;
  width: 700px;
}

.BarraSuperior{
  background-color:cornflowerblue;
  color:black;
  padding: 20px;
  align-items: center;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;

}

#Email{
 background:rgb(137, 214, 238);
 display: inline-block;
  min-width: 100px;
  height: auto;
  padding: 10px;
  margin-left: 700px;
  margin-bottom: 20px;
  position: absolute;top: 5%;
  border-radius: 15%;
}

.FotoPerfil{
  border-radius: 500px;
  margin-right: 10px;
  width: 200px;
  

}
.Perfil{
  display: flex;
  align-items: stretch;
}

#btnSeguir {
  background-color: #3897f0;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;

}

.SobreMi{
  grid-column-end: span;
  text-align:left;
}

#BtnMegusta{
  background-color: #3897f0;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.likes{
  position: absolute;left: 32%;
  position: absolute;top: 98%;
}

.LblSeguir{
  cursor: pointer;
  color: black;
}

.BtnComentar{
  background-color: #3897f0;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

#Comentarios{
  width: 400px;
  height: 400px;
  
}

#Comentarios{
  background-color: #3897f0;
}
